:root {
    --primary: #EF8E1E;
    --secondary: #3C4952;
    --black: #010101;
    --secondary-gray: #93989A;
    --light-bg: #F7F9FA;
    --purple: #6000FF;
    --purple-dark: #7A21A5;
    --purple-light: #F6EFFD;
    --body-bg: #fff;
    --light-btn-bg: #F3F3F3;
    --notification: #E23434;
    --green-clr: #42A846;
    --green-light: #EFFDF1;
    --red-light: #FDEFEF;
}