.header-main {
    display: block;

    .navbar {
        padding: 23.5px 0;
        // border-bottom: 2px solid var(--light-btn-bg);
    }

    .navbar-brand {
        padding: 0;

        img {
            height: 60px;
            width: auto;
        }
    }

    .navbar-links {
        .nav-item {
            &:not(:last-child) {
                margin-right: 36px;
            }

            .nav-link.disabled {
                color: #B7BABC;

                svg {
                    path {
                        fill: #B7BABC;
                    }
                }
            }

            .nav-link.active {
                color: var(--primary);

                svg {
                    fill: var(--primary);

                    path {
                        fill: var(--primary);
                        // stroke: var(--primary);
                    }
                }
            }

            .nav-link {
                svg {
                    height: 20px;
                    width: 20px;
                    object-fit: contain;
                    margin-right: 10px;

                    path {
                        fill: var(--secondary-gray);
                    }
                }

                font-family: 'Proxima Nova Lt';
                color: var(--secondary-gray);
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.01em;
                display: inline-flex;
                align-items: center;
                padding: 0;
            }
        }
    }

    .navbar-right {
        .right-link {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        .form-switch {
            input {
                margin-left: 10px;
                float: right;
            }

            padding-left: 0;
        }

        .dropdown {
            .dropdown-toggle {
                &:focus {
                    box-shadow: none;
                }

                background: transparent;

                &::after {
                    display: none;
                }
            }

            .dropdown-menu {
                border: 2px solid var(--light-btn-bg);
                box-shadow: 0px 4px 100px rgba(202, 202, 202, 0.2);
                border-radius: 15px;
                padding: 0;
                top: -5px;
                right: -11px;
            }
        }

        .active-notification {
            position: relative;

            &::before {
                content: '';
                height: 6px;
                width: 6px;
                display: inline-block;
                background: var(--notification);
                position: absolute;
                right: 14px;
                top: 13px;
                border-radius: 50%;
            }
        }

        .notification-dropdown {
            .notification-dropdown-btn {
                min-height: 52px;
                min-width: 52px;
                height: 52px;
                width: 52px;
                border-radius: 50%;
                border: 1px solid var(--light-btn-bg);
                display: inline-flex;
                justify-self: center;
                align-items: center;

                svg {
                    height: 24px;
                    width: 24px;
                    object-fit: contain;
                }
            }

            .dropdown-menu {
                width: 575px;
                top: 5px;
                right: -11px;

                .notification-header {
                    padding: 24px 31px;
                    border-bottom: 2px solid var(--light-btn-bg);
                }

                .notification-body {
                    .notification-points-main {
                        .notification-point.active {
                            background: var(--light-bg);

                            &::before {
                                background-color: var(--body-bg);
                            }
                        }

                        .notification-point {
                            position: relative;
                            padding: 24px 24px 24px 108px;

                            &::before {
                                content: '';
                                height: 60px;
                                width: 60px;
                                border-radius: 50%;
                                background: var(--light-bg) url(../images/notification-ic-gray.svg) no-repeat;
                                background-size: 32px auto;
                                background-position: center;
                                display: inline-block;
                                position: absolute;
                                left: 24px;
                                // top: 50%;
                                // transform: translateY(-50%);
                            }

                            .notification-heading {
                                color: var(--black);
                                font-weight: 600;
                                font-size: 20px;
                                font-family: 'Proxima Nova Lt';
                            }

                            p {
                                font-family: 'Proxima Nova Rg';
                                letter-spacing: 0.01em;
                                font-weight: 400;
                                font-size: 16px;
                                margin: 3px 0;
                                color: var(--secondary-gray);
                            }

                            .notification-time {
                                color: #AAAAAA;
                                letter-spacing: 0.01em;
                                font-family: 'Proxima Nova Rg';
                                font-weight: 400;
                                font-size: 14px;
                            }
                        }
                    }
                }

                .notification-footer {
                    padding: 14px 0 38px 0;
                }
            }
        }

        .user-dropdown-main {
            .user-drp-top {
                padding: 24px 24px 16px 24px;
                border-bottom: 2px solid var(--light-btn-bg);

                .drp-inner-profile {
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    display: inline-block;
                }

                .user-content {
                    margin-left: 16px;

                    h4 {
                        font-weight: 600;
                        font-size: 20px;
                        color: var(--black);
                        font-family: 'Proxima Nova Lt';
                    }

                    .discord-ic-main {
                        margin-top: 5px;

                        img {
                            height: 16px;
                            width: 16px;
                            object-fit: contain;
                        }

                        span {
                            font-weight: 400;
                            font-size: 14px;
                            font-family: 'Outfit', sans-serif;
                            margin-left: 4px;
                            letter-spacing: 0.01em;
                            color: var(--secondary-gray);
                        }
                    }
                }
            }

            .user-dropdown {
                border: none;
                padding: 0 36px 0 0;

                .profile-img {
                    height: 52px;
                    width: 52px;
                    min-height: 52px;
                    min-width: 52px;
                }

                &::before {
                    content: '';
                    background: url('../images/dropdown-ic.svg') no-repeat;
                    height: 12px;
                    width: 16px;
                    display: inline-flex;
                    align-items: center;
                    background-size: 100% auto;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            ul {
                padding: 16px 24px 24px 24px;

                li {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    .dropdown-item {
                        svg {
                            height: 24px;
                            width: 24px;
                            object-fit: contain;
                            margin-right: 18px;
                        }

                        letter-spacing: 0.01em;
                        font-weight: 600;
                        font-family: 'Proxima Nova Lt';
                        font-size: 18px;
                        padding: 0;
                        display: inline-flex;
                        align-items: center;
                        color: var(--black);

                        &:hover {
                            background: transparent;
                        }

                        &:focus {
                            background: transparent;
                        }
                    }
                }
            }
        }

        .login-header-btn {
            .m--btn {
                min-width: 91px;
            }
        }
    }
}

.soon-b {
    position: relative;

    &::after {
        content: 'Soon';
        background: var(--purple);
        padding: 1px 10px;
        border-radius: 500px;
        display: inline-block;
        color: #fff;
        position: absolute;
        right: 0;
        font-family: 'Proxima Nova Lt';
        top: 30px;
        letter-spacing: 0.01em;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
}

.soon-b.purple-bg {
    &::after {
        background: var(--purple-dark);
    }
}